body {
	font-family: 'Gill Sans', Arial, serif;
	color: #777;
	background: #ffe;
}

h1 {
	text-align: center;
}

h2 {
	color: #333;
}

table {
	width: 100%;
}

th, td {
	text-align: left;
	padding: 5px 20px 5px 0;
	color: #333;
}

th {
	border-bottom: 1px solid #333;
}

tr:nth-child(odd) td {
	background-color: #eee;
}

hr {
	border: 0;
	border-top: 1px dashed #333;
}

h1,
a {
	color: #4183C4;
}

section {
	width: 35em;
	margin: 0 auto;
}