<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
            <mimeMap fileExtension=".handlebar" mimeType="text/x-handlebars-template" />
            <!-- <mimeMap fileExtension=".handlebar" mimeType="text/html" /> -->
        </staticContent>
    </system.webServer>
</configuration>
